@{
    ViewBag.Title = "Contact";
}
<h2>Контакти</h2>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<div class="row" id="contatti">
    <div class="container mt-5">

        <div class="row">
            <div class="col-md-6 maps" style="margin-top:30px">
                <iframe src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=%D1%83%D0%BB.%20%D0%A6%D0%B0%D1%80%20%D0%9E%D1%81%D0%B2%D0%BE%D0%B1%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%20210+(Nessa)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h2 class="text-uppercase mt-3 font-weight-bold text-white">Контакти</h2>
                
                <div class="text-white" style="margin-top:30px; line-height: 200%">

                    <i class="fas fa-phone mt-3"></i> <a href="tel:+">(+359) 887 222 463</a><br>
                    <i class="fas fa-phone mt-3"></i> <a href="tel:+">(+359) 888 230 017</a><br>
                    <i class="fas fa-phone mt-3"></i> <a href="tel:+">(+359) 888 362 695</a><br>
                    <i class="fa fa-envelope mt-3"></i> <a href="">nessa@gmail.com</a><br>
                    <i class="fas fa-globe mt-3"></i> гр. Кюстендил, ул. Цар Освобоител 210, 2500<br>
                    <div class="my-4">
                        <a href="https://www.facebook.com/Nessa.fishing/" target="_blank"><i class="fab fa-facebook fa-3x pr-4"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

