@{
    ViewBag.Title = "Home Page";
}

<img style="max-width: 100%;height: auto; margin-top:30px" src="~/Images/nessa-front-image.jpg" />

<div class="container">
    <div class="row">
        <div class="home-page-item">
            <figure class="card card-product">
                <h2>Захранка</h2>
                <a href="/Items/ItemsInCategory/30"><div class="img-wrap"><img src="~/Images/nessalogo.png"></div></a>
            </figure>
            <p><a class="btn btn-default" href="/Items/ItemsInCategory/30">Към Захранка &raquo;</a></p>
        </div>
        <div class="home-page-item">
            <figure class="card card-product">
                <h2>Стръв</h2>
                <a href="/Items/ItemsInCategory/31"><div class="img-wrap"><img src="~/Images/nessalogo.png"></div></a>
            </figure>
            <p><a class="btn btn-default" href="/Items/ItemsInCategory/31">Към Стръв &raquo;</a></p>
        </div>
    </div>
</div>