@model IEnumerable<Nessa.Models.Category>
@using Nessa.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin: 50px; text-align: center">Категории</h2>

<div class="container">
    <div id="oneItem" class="row">
        @foreach (var category in Model)
        {
            <div class="col-md-4" id="@category.Id" style="padding-left: 0px; padding-right: 0px;">
                <figure class="card card-product">
                    @if (!category.ImagePath.IsEmpty())
                    {
                        <a href="/Items/ItemsInCategory/@category.Id"><div class="img-wrap"><img alt="categoryImg" src="~/Images/@category.ImagePath"></div></a>
                    }
                    else
                    {
                        <a href="/Items/ItemsInCategory/@category.Id"><div class="img-wrap"><img alt="nessaLogo" src="~/Images/nessalogo.png"></div></a>
                    }
                    <figcaption class="info-wrap">
                        <a href="/Items/ItemsInCategory/@category.Id"><h4 class="title" style="max-height: 19px; overflow: hidden;">@category.Name</h4></a>
                    </figcaption>
                    @if (User.IsInRole(RoleName.Admin))
                    {
                        <a href="/Categories/Edit/@category.Id" class="btn btn-warning" style="margin-bottom: 5px">Редактирай</a>
                        <br>
                        <button class="js-delete btn btn-danger" data-category-id="@category.Id">Изтрии</button>
                    }
                </figure>
            </div>
        }
    </div>
</div>


@section scripts
{
<script>
    $(document).ready(function () {
        $("#oneItem").on("click", ".js-delete", function () {
            var button = $(this);

            bootbox.confirm("Сигурен ли си, че искаш да изтриеш тази категория?", function (result) {
                if (result) {
                    $.ajax({
                        url: "/api/categories/" + button.attr("data-category-id"),
                        method: "DELETE",
                        success: function () {
                            $('#' + button.attr("data-category-id")).remove();
                            $("#oneItem").load(location.href + " #oneItem>*", "");
                        }
                    });
                }
            });
        })
    });
</script>
}