@model Nessa.Models.Item
@using Nessa.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="oneImage" class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        @if (Model.Images.Count > 0)
                        {
                            for (int i = 0; i < Model.Images.Count; i++)
                            {
                                if (i == 0)
                                {
                                    <div class="tab-pane active" id="pic-@i"><img src="~/Images/@Model.Images.ElementAt(i).Path" /></div>
                                }
                                <div class="tab-pane" id="pic-@i"><img src="~/Images/@Model.Images.ElementAt(i).Path" /></div>
                            }
                        }
                        else
                        {
                            <div class="tab-pane active" id="pic-1"><img src="~/Images/nessalogo.png" /></div>
                        }


                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        @if (Model.Images.Count > 0)
                        {
                            for (int i = 0; i < Model.Images.Count; i++)
                            {
                                <li>
                                    <a data-target="#pic-@i" data-toggle="tab"><img src="~/Images/@Model.Images.ElementAt(i).Path" /></a>
                                    @if (User.IsInRole(RoleName.Admin))
                                    {
                                        <button class="js-delete" data-image-id="@Model.Images.ElementAt(i).Id">Изтрии</button>
                                    }
                                </li>
                            }
                        }
                    </ul>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">@Model.Name</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p class="product-description">@Model.Description</p>
                    <h4 class="price">Цена: <span>@Model.Price лв.</span></h4>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#oneImage").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Сигурен ли си, че искаш да изтриеш това изображение?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/images/" + button.attr("data-image-id"),
                            method: "DELETE",
                            success: function () {
                                $('#' + button.attr("data-image-id")).remove();
                                $("#oneImage").load(location.href + " #oneImage>*", "");
                            }
                        });
                    }
                });
            })
        });
    </script>
}